.product-card {
    border: 0;
    padding: 10px;
    background: white;
}

.product-top span{
    background: #422a2a;
    padding: 5px 10px;
    border-radius: 20px;
}

.making{
    padding: 4px 6px; 
    background: #625202;
    
    border-radius: 5px;
    font-size: 9px;
    width: 130px;
}
